<section class="lawyer-support">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/images/lawyer-support.png" alt="Lawyer Support">
            </div>
            <div class="col-lg-8">
                <h2>Dilekçemi Avukat Doldursun</h2>
                <p>Sitemizde ihtiyacınız olan tüm konu ve alanlarda dilekçe araması yapabilir satın almak istediğiniz dilekçeye karar verdiğinizde <strong>“sepete ekle”</strong> diyerek satın alma sürecine geçebilirsiniz. Eğer dilekçeyi satın alma sürecinde birde gerekli alanların avukat desteği ile doldurulmasını talep ediyorsanız dilekçeye dair gerekli evrakları sistemden ekleyerek avukat yardımı ile dilekçeniz hazırlanarak tarafınıza ulaştırılacaktır.</p>
            </div>
        </div>
    </div>
</section>