<section class="case-purchase-process">
    <div class="container">
        <div class="row flex_md_column_reverse">
            <div class="col-lg-8">
                <h2>Dilekçe Satın Alma Süreci</h2>
                <p>Sitemizde tüm alanlarda dilekçe araması yapabilir ve ihtiyacınız olan dilekçede karar kıldıktan sonra <strong>“sepete ekle”</strong> hızlıca satın al veya <strong>“avukat desteği ile dilekçeyi satın al”</strong> kısımlarından birini seçerek kredi kartınızla ödeme sonrası dilekçeniz tarafınıza iletilecektir.</p>
            </div>
            <div class="col-lg-4">
                <img src="/assets/images/purchase-process.png" alt="">
            </div>
        </div>
    </div>
</section>