<section class="main-searchbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>ihtiyacınız olan dilekçeyi <b>hemen arayın!</b></h1>
            </div>
            <div class="col-12">
                <form onsubmit="event.preventDefault()">
                    <input type="text" id="home-search-q" placeholder="Aramak istediğiniz kelimeyi giriniz">
                    <button id="home-search-btn">Ara</button>
                </form>
            </div>
        </div>
    </div>
</section>