<section class="system-works">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Sistem Nasıl Çalışıyor</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="system-work-cards">
                    <div class="system-work-cards-img">
                        <img src="/assets/images/unique-service.png" alt="EŞSİZ HİZMET">
                    </div>
                    <h4>EŞSİZ HİZMET</h4>
                    <p>Davadilekcesi.net üyelik sistemi ile Türkiye’de eşi benzeri olmayan bir hizmet sağlamaktadır. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="system-work-cards">
                    <div class="system-work-cards-img">
                        <img src="/assets/images/do-search.png" alt="ARAMANI YAP">
                    </div>
                    <h4>ARAMANI YAP</h4>
                    <p>Sitemiz web tabanlı olarak ihtiyaç duyduğunuz tüm dilekçe alanlarında arama yapmanıza olanak sağlar.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="system-work-cards">
                    <div class="system-work-cards-img">
                        <img src="/assets/images/finish-process.png" alt="SÜRECİ NOKTALA!">
                    </div>
                    <h4>SÜRECİ NOKTALA!</h4>
                    <p>Arama sonrası ihtiyacınız olan dilekçeyi bulduğunuzda ilgili dilekçeyi sepete ekleyerek süreci noktalayabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>