<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Blank Page | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    @*<link rel="icon" href="../../favicon.ico" type="image/x-icon">*@

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/areas/admin/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="/areas/admin/assets/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/areas/admin/assets/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/areas/admin/assets/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/areas/admin/assets/css/themes/all-themes.css" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link href="/areas/admin/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="/areas/admin/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

</head>
<body>
    <section class="container">
        @RenderBody()
    </section>

    <!-- Jquery Core Js -->
    <script src="/areas/admin/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/areas/admin/assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/areas/admin/assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/areas/admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/areas/admin/assets/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="/areas/admin/assets/js/admin.js"></script>
    <script src="/areas/admin/assets/plugins/ckeditor/ckeditor.js"></script>
    <!-- Demo Js -->
    <script src="/areas/admin/assets/js/demo.js"></script>

    <script src="/areas/admin/assets/js/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="/areas/admin/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/areas/admin/assets/js/iframe-layout.js"></script>
</body>
</html>
