@model BaseCorporate.Service.Model.TagModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_IframeLayout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form id="CategoryAddOrUpdate" action="/admin/tag/addorupdate" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="col-sm-3">
                            <label for="name">Adı</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="name" name="name" value="@Model.Name" class="form-control" placeholder="Adı">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

